/* Normalización de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ajuste del logo */
.logo {
    height: 50px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

/* Centrar contenido del blog */
.centrar-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.entrada-blog {
    display: flex;
    margin-bottom: 2rem;
    max-width: 800px;
    /* Ajuste para centrar el contenido */
}

.entrada-blog img {
    width: 300px;
    height: auto;
    margin-right: 2rem;
}

/*  línea verde más larga debajo de los títulos del blog */
.texto-entrada h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.texto-entrada h3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px; /* Ajusta el ancho para hacer la línea más larga */
    height: 4px; /* Grosor de la línea */
    background-color: #4caf50; /* Color verde */
}



.texto-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-entrada a {
    text-decoration: none;
    color: black;
}

.texto-entrada h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.texto-entrada p {
    margin-bottom: 0.5rem;
    color: #6b6b6b;
}

.texto-entrada span {
    color: orange;
}

/* pie de página */
.footer {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    /* Añadimos padding en los lados */
    display: flex;
    justify-content: space-between;
    /* Mantener los elementos en una sola línea */
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    /* Espaciado entre los enlaces */
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
    font-size: 0.85rem;
}