/* Normalización de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

/* Estilos principales */
main {
    margin-top: 0;
    text-align: center;
}

/* Imagen estirada a los lados */
.imagen-entrada {
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: auto; /* Mantiene la proporción */
    max-height: 500px; /* Limita la altura máxima */
    object-fit: cover; /* Estira la imagen a los lados sin distorsionarla */
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo del título para que mantenga una sola línea */
h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Meta información */
.informacion-meta {
    color: #6b6b6b;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.informacion-meta span {
    color: orange;
}

/* Párrafos */
p {
    text-align: justify;
    margin-bottom: 1.5rem;
    color: #6b6b6b;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*pie de pagina */

.footer {
    background-color: #333;
    color: white;
    padding: 1rem 2rem; /* Añadimos padding en los lados */
    display: flex;
    justify-content: space-between; /* Mantener los elementos en una sola línea */
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 2rem; /* Espaciado entre los enlaces */
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* pie de página */
.footer {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    /* Añadimos padding en los lados */
    display: flex;
    justify-content: space-between;
    /* Mantener los elementos en una sola línea */
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    /* Espaciado entre los enlaces */
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
    font-size: 0.85rem;
}

.logo {
    height: 50px; /* Ajusta la altura según sea necesario */
    width: auto;  /* Mantiene la proporción del logo */
}


/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .navegacion a {
        display: block;
        margin: 0.5rem 0;
    }
}

